/target/*-*

!/target/classes/
/target/classes/com
/target/classes/languages
/target/classes/META-INF

/html/

/latex/

*.class



*.tmp

java/Arm3.jar

log.html
temp.ngc
/target/

log.html
log.html
log.html