/target/archive-tmp/**
/target/dependency-maven-plugin-markers/**
/target/generated-sources/**
/target/generated-test-sources/**
/target/javadoc-bundle-options/**
/target/maven-archiver/**
/target/maven-status/**
/target/surefire-reports/**
/target/test-classes/**
/target/classes/com/**
/target/classes/META-INF/**

/html/

/latex/

*.class

**/*.tmp
**/temp.ngc

**/log.*
log.html

.settings/**
/target/
G30.ngc
*.prefs
.ssh/known_hosts
.ssh/known_hosts
